<%= render "account/menu" %>
<section class="categories">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell large-12">

            <h2><%= @order.product.title %></h2>

            <% if @order.digital_product.attached? %>
                <%= link_to "donwload your file", rails_blob_path(@order.digital_product, disposition: "attachment") %>
            <% end %>
            <%= @order.inspect %>
        </div>
      </div>
    </div>
</section>
