<section class="category_header">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-12 text-center">
                <h1>About us</h1>
            </div>
        </div>
    </div>
</section>
<section >
    <div class="grid-container">
      <div class="grid-x grid-margin-y">
            <div class="cell large-12">

                <h3>WHO ARE WE?</h3>
                <p>
                    We are a very small team of developers and we have everyday projects just like you! We are not rockstars
                    developers but just regular people and we love to code!
                </p>

                <hr>

                <h3>WHAT IS COMMITMARKET?</h3>
                <p>
                    Commitmarket is a marketplace where developers can easily sell their code directly from a GitHub repository.
                </p>

                <hr>

                <h3>DO WE SELL ICE TO ESKIMO?</h3>
                <p>
                    <strong>Yes We do!</strong>
                    We believe that source code is a tool just like a brush for graphic or a sample for musicians.
                    Of course, both musicians or graphic designers can create themselves all the tools they need but
                    for the sake of time (or sometimes skill level), it is better to buy a piece of code already made
                    by someone more experienced and use it inside a project!
                </p>

                <hr>

                <h3>WHY ANOTHER PLATFORM?</h3>

                <p>
                    As we are developers ourselves, we wanted to build a marketplace that is fair with developers and be more respectful
                    towards the work. We didnt find that out there.
                </p>


                <hr>

                <h3>I AM PROJECT MANAGER OR DEVELOPER</h3>

                <p>Great to here that! I bet you won't buy code because you have developers at your disposable or you are a developer so you can do it!
                    We totally understand! but keep in mind that it is not about buying code but more about saving time and learning from others.
                </p>

                <hr>

                <p>You have more questions? feel free to contact us at info@commitmarket.dev </p>


            </div>
        </div>
    </div>
</section>
