<section class="category_header">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-12 text-center">
                <h1>Become a seller</h1>
            </div>
        </div>
    </div>
</section>
<section >
    <div class="grid-container">
      <div class="grid-x grid-margin-y">
            <div class="cell large-12">


                <h3>WHAT IS COMMITMARKET?</h3>
                <p>
                    Commitmarket is a marketplace where you can easily sell your code directly from a GitHub repository.
                </p>

                <hr>

                <h3>BECOME A SELLER</h3>
                <p>
                    If you have a github account, you can sell code right away with one click!<br>
                    We use Github for our projects everyday and we believe
                    that this is a great platform for project versionning but also, that there is a lot of code that just
                    sleeps in there and can be sold to others. Let's be honest, do you have some sleeping repositories (aka "just for testing", "a lab project", "here is a proof of concept boss!")
                    <br>Take the opportunity to do two things: Earn money with your greatest codes and give others the chance to learn from codes they buy from you!
                 </p>

                <hr>

                 <h3>WHAT ARE YOU FEES?</h3>
                 <p>We strongly believe in the #paretoprinciple here! you earn 80% of the sale and we take 20%.</p>

            </div>
        </div>
    </div>
</section>
