<section class="dashboard">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">

                <h2>Log in</h2>

                <%= render "devise/shared/links" %>

            </div>
        </div>
    </div>
</section>
