<section class="dashboard">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
            <h1>New Product</h1>
                <%= render 'form', product: @product %>
                <%= link_to 'Back', account_products_path %>
            </div>
        </div>
    </div>
</section>
