<section class="error_header">
    <div class="grid-container">
        <div class="grid-x">
           <h1>Thank you! </h1>
        </div>
    </div>
</section>
<section class="download">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-12">
                <h2>An error occurred while processing your request</h2>
                <p>Here is your download link. You can access your purchases and download your product and get your receipt any time via your <%= link_to "account", account_purchases_url%>.</p>
                <p>Please try later or contact the support.</p>

                <p><strong>Please note that you won't be charged!</strong></p>
            </div>
        </div>
    </div>
</section>

<section class="featured">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
            <div class="cell large-12">
                <h1>An error occurred while processing your request</h1>
                <p>Please try later or contact the support.</p>

                <p><strong>Please note that you won't be charged!</strong></p>
            </div>
        </div>
    </div>

</section>
